<header class="main-header"><div class="container">
    <img class="logo" src="../../assets/images/Charity.png" alt="logo" routerLink="/home"/>
    <nav class="main-nav">
      <ul class="links">
        <li>
          <a routerLink="/home">Home</a>
          <a routerLink="/causes">Causes</a>
          <a routerLink="/charities">Charities</a></li>
        <li><button mat-icon-button color="warn" aria-label="Favorites" routerLink="/favorites">
            <mat-icon>favorite</mat-icon>
        </button>
    </li>
      </ul>
      
    </nav></div>
  </header>
  
  
  