.mat-button.mat-warn, .mat-icon-button.mat-warn, .mat-stroked-button.mat-warn{
    color: #F45B69;
}

.grow { 
    transition: all .2s ease-in-out; 
}
.grow:hover { 
    transform: scale(1.4); 
}

.logo {
    width: 30%;
}