.example-card {
    max-width: 400px;
  }
  
  .example-header-image {
    background-image: url('https://i.kym-cdn.com/photos/images/original/001/404/852/56a.jpg');
    background-size: cover;
  }

.favorite_container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    
}
.align_right {

   

}

.align_left{

   

}