<app-header></app-header>
<div class="app-container"><div class="card-container"><mat-card class="example-card">
     <mat-card-header>
      
      <mat-card-title>{{cause.causeName}}</mat-card-title>
    </mat-card-header> 
    <img mat-card-image src="https://i.kym-cdn.com/photos/images/original/001/404/852/56a.jpg" alt="">
    <mat-card-content>
      <p>
        
      </p>
    </mat-card-content>
    <div class="favorite_container"><mat-card-actions >
      <button mat-icon-button color="accent" aria-label="Favorites" routerLink="/list">
        <mat-icon>thumb_down</mat-icon></button>
        <button mat-icon-button color="warn" aria-label="Favorites">
      <mat-icon (click)="swipeRight(cause)">thumb_up</mat-icon></button>
    </mat-card-actions></div>
  </mat-card></div></div>
