<!-- <ul>
  <li *ngFor="let item of data; let i = index">
      {{ item.charityName }} <br>{{ item.mailingAddress.city }} -- {{ item.mailingAddress.postalCode }}
  </li>
</ul>

<div><ul *ngFor="let item of data; let i = index"><li>{{data[i]}}</li></ul></div> -->

<!-- <div><p>{{ data[10].charityName }}</p></div> -->
<h1 class="header">Give Local</h1><br><br>
<div class="container">
<!-- <mat-slider min="1" max="100" step="1" value="1"><h1 >Give Local</h1></mat-slider> -->
<div>
<form class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Zip code</mat-label>
    <input matInput #message maxlength="5" placeholder="Enter your Zip Code">
    <mat-hint align="start"><strong>Get Started</strong> </mat-hint>
    <mat-hint align="end">{{message.value.length}} / 5</mat-hint>
  </mat-form-field><button mat-button class="button">SUBMIT</button>
</form></div></div>
<button mat-button>Take My Money</button>
<!-- <router-outlet></router-outlet> -->