<header>
  <img class="logo" src="" alt="logo" />
  <nav>
    <ul class="links">
      <li>
        <a routerLink="home" routerLinkActive="active">Home</a></li>
      <li>
        <a routerLink="results" routerLinkActive="active">Results</a>
      </li>
    </ul>
  </nav>
  <p>"Give Local"</p>
</header>


<!-- <ul>
  <li *ngFor="let item of data; let i = index">
      {{ item.charityName }} <br>{{ item.mailingAddress.city }} -- {{ item.mailingAddress.postalCode }}
  </li>
</ul>

<div><ul *ngFor="let item of data; let i = index"><li>{{data[i]}}</li></ul></div> -->

<!-- <div><p>{{ data[10].charityName }}</p></div> -->
<h1>Give Local</h1>
<!-- <router-outlet></router-outlet> -->