<app-header></app-header>
<div class="app-container">
  <div *ngIf="likedCharities.length <= 0">No liked charities yet! <a routerLink="/causes">Go back</a> to start liking.</div>
  <div class="container">
<div *ngIf="likedCharities.length > 0" class ="table">
  <!-- <tr>
    <th>Cause</th>
    <th>Name</th>
    <th>EIN</th>
    <th>Website</th>
    <th>State</th>
  </tr> -->
  <div *ngFor="let charity of likedCharities, let i = index" class="charityInfo">
    <div class="causeName">{{ charity.cause.causeName }}</div>
    <div class="charityName">{{ charity.organization.charityName }}</div>
      <div> EIN #: {{ charity.organization.ein }}</div>
          <div>Location: {{ charity.mailingAddress.stateOrProvince }}</div>
    <div><a href="{{ charity.websiteURL }}">Website</a></div>
    <button class="favorite"><mat-icon class="heart" (click)="selectFavorite(charity)" [ngClass]="{fullHeart: charity.isFavorited}">

      favorite</mat-icon></button>
    <!-- <td>{{ charity.cause.causeName }}</td>
    <td>{{ charity.organization.charityName }}</td>
    <td>{{ charity.organization.ein }}</td>
    <td><a href="{{ charity.websiteURL }}">{{ charity.organization.charityName }}'s Website</a></td>
    <td>{{ charity.mailingAddress.stateOrProvince }}</td>
     <button class="favorite"><mat-icon class="heart" (click)="selectFavorite(charity)" [class.selected]="wasClicked" [ngClass]="{heart: wasClicked === false, fullHeart: wasClicked===true}">
      favorite</mat-icon></button> -->
  </div>
</div>
</div>
<a *ngIf="likedCharities.length > 0" routerLink="/favorites">View your favorites!</a>
</div>


<!-- {{ charity.organization.charityName }}'s  -->