<app-header></app-header>
<div class="app-container">
  <div class="container">
    <div *ngIf="likedCharities.length <= 0">No liked charities yet! <a routerLink="/causes">Go back</a> to start liking.</div>

<div *ngIf="likedCharities.length > 0" class ="table">
  
  <div *ngFor="let charity of likedCharities, let i = index" class="charityInfo">
    <div class="causeName">{{ charity.cause.causeName }}</div>
    <div class="charityName">{{ charity.organization.charityName }}</div>
      <div> EIN #: {{ charity.organization.ein }}</div>
          <div>Location: {{ charity.mailingAddress.stateOrProvince }}</div>
    <div><a href="{{ charity.websiteURL }}" target="_blank">Website</a></div>
    <button class="favorite"><mat-icon class="heart" (click)="selectFavorite(charity)" [ngClass]="{fullHeart: charity.isFavorited}">

      favorite</mat-icon></button>
  
  </div>
</div>
</div>
<a *ngIf="likedCharities.length > 0" routerLink="/favorites">View your favorites!</a>
</div>


````