
.app-container {
    padding: 2%;
}
.table {
    /* width: 100%; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
tr { 
    align-items: baseline;
}

.favorite {
    background: transparent;
    border: none;
}

.heart {
    -webkit-text-fill-color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #F45B69;
}

.heart:hover {
    -webkit-text-fill-color: #F45B69;
}

a{
    color: #26408B;
    text-decoration: none;
}

a:hover{
    color: #F45B69;
}

th {
    text-align: left;
}

.fullHeart {
    -webkit-text-fill-color: #F45B69;
}

.heart.selected {
    -webkit-text-fill-color: #F45B69;
}

.charityInfo{
    display: flex;
    flex-flow: row wrap;
    outline: 1px solid #cccccc;
    margin: 5px;
    width: 30%;
    text-align: center;
    flex-direction: column;
}

.causeName {
    color: gray;
    font-size: .8em;
    justify-content: start;
}

.charityName {
    font-weight: 700;
}

@media (max-width: 600px) {
    .charityInfo {
        width: 30vw;
    }
}

@media (max-width: 450px) {
    .charityInfo {
        width: 60vw;
    }
}
