/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Hind+Madurai|Poppins&display=swap');
html, body { height: 100%; }
body { margin: 0; 
    font-family: 'Hind Madurai', sans-serif;
}

.app-container {
    display: flex;
	align-items: center;
	justify-content: space-around;
    flex-wrap: wrap;
    background-color: rgba(255, 255, 255, 0.324);
    border: #26408B;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 15%;
    margin-left: 10%;
    margin-right: 10%;
    max-width: 1080px;
}

.container {
        width: 1080px;
        max-width: 100%;
        padding: 20px;
        margin: 0 auto;
        font-family: 'Hind Madurai', sans-serif;
    }
.card-container {
        padding: none;
    }

.search {
    margin-left: 10px;
    margin-right: 10px;
    padding-left: 10px;
}

.main-header .container {
	display: flex;
	align-items: center;
	justify-content: space-around;
    flex-wrap: wrap;
    
}


.main-nav ul {
	margin: 1em 0 .5em;
	text-align: center;
}
.main-nav li {
	display: inline;
}
.main-nav a {
	display: inline-block;
    padding: .5em 1.5em;
    text-decoration: none;
    color: #26408B;
}
.main-nav a:hover {
	display: inline-block;
    padding: .5em 1.5em;
    text-decoration: none;
    color: #F45B69;
}
.home-search {
    display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;

}

.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary{
    background-color: #F45B69;
}
.mat-fab.mat-primary, .mat-flat-button.mat-primary, .mat-mini-fab.mat-primary, .mat-raised-button.mat-primary:hover{
    background-color: #26408B;
}
.mat-input-element{
    color: #F45B69;
}

@media (min-width: 960px) {
	.main-header .container {
		justify-content: space-between;
	}
}
