<app-header></app-header>

<div class="app-container">
  <div class="container">
    <div class="home-search">
      <div class="search">
        <form class="form">
          <mat-form-field class="full-width">
            <mat-label>Enter State</mat-label>
            <input matInput #search placeholder="Enter your State" maxlength="2"  onkeyup="this.value = this.value.toUpperCase();"/>
            <mat-hint align="end">ex. MI, FL, GA</mat-hint>
          </mat-form-field><button (click)="searchFunction(search.value)" mat-raised-button color="primary"
            [routerLink]="['/causes']">
            SUBMIT
          </button>
        </form>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="home-search">
      <button mat-raised-button color="primary">Take My Money</button>
    </div>
  </div>
</div>
