<app-header></app-header>

<div class="app-container">
    <div class="container">
      <h2 class="">Favorite Charities</h2> 
      <div class="goBack" *ngIf="favoriteCharity.length <= 0">No favorites yet! <a routerLink="/causes">Go back</a> to start liking.</div>
          

<div *ngIf="favoriteCharity.length > 0" class="table">
  
    <div *ngFor="let favorite of favoriteCharity, let i = index" class="charityInfo">
      <div class="causeName">{{ favorite.cause.causeName }}</div>
    <div class="charityName">{{ favorite.organization.charityName }}</div>
      <div> EIN #: {{ favorite.organization.ein }}</div>
          <div>Location: {{ favorite.mailingAddress.stateOrProvince }}</div>
    <div><a href="{{ favorite.websiteURL }}">Website</a></div>
      
    </div>
</div>
