.app-container {
    padding: 2%;
}

tr { 
    align-items: baseline;
}
a{
    color: #26408B;
    text-decoration: none;
}

a:hover{
    color: #F45B69;
    cursor: pointer;
}

.goBack {
    text-align: center;
}

.table {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.charityInfo{
    display: flex;
    flex-flow: row wrap;
    outline: 1px solid #cccccc;
    margin: 5px;
    width: 30vw;
    text-align: center;
    flex-direction: column;
}

.causeName {
    color: gray;
    font-size: .8em;
    justify-content: start;
}

.charityName {
    font-weight: 700;
}


@media (max-width: 600px) {
    .charityInfo {
        width: 30vw;
    }
}

@media (max-width: 450px) {
    .charityInfo {
        width: 60vw;
    }
}
